.right {
    position: absolute;
width: 100%;
max-width: 40rem;
height: 45.625rem;
left: calc(50% - 30.313rem/2 + 14.813rem);
top: 103.5rem;

/* Primary */

background: #2947A9;
box-shadow: 0rem 0.875rem 1.063rem -0.188rem rgba(17, 24, 39, 0.1), 0rem 5.85386rem 5.85386rem -2.92693rem rgba(17, 24, 39, 0.04);
border-radius: 0.3rem;
}
.left {
    position: absolute;
width: 41.25rem;
height: 30.563rem;
left: calc(50% - 41.25rem/2 - 7.063rem);
top: 90rem;
left: auto;



border-radius: 0.5rem;
}

.right h3 {
    position: absolute;
width: 28.125rem;
height: 2rem;
left: 1.829rem;
top: 2.25rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 3.125rem;
line-height: 1.938rem;
/* identical to box height */


color: #FFFFFF;

}

.right p {
    position: absolute;

left: 1.729rem;
top: 9.375rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 1.876rem;


color: #FFFFFF;

}

 button {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: .688rem .875rem;
gap: 7.32rem;

position: absolute;
width: 12.5rem;
height: 3.12rem;
left: 1.813rem;
top: 38rem;

/* Neutral/White */

background: #FFFFFF;
/* Primary */

border: 0.088rem solid #2947A9;
border-radius: .25rem;

}

.right h6 {
    /* Learn more */


width: 11.25rem;
height:0.938rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 1.563rem;
line-height: 0.5rem;
text-align: center;

/* Primary */

color: #2947A9;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


@media only screen and (max-width: 1625px) {

    
    
    }