
 
.boxess h1 {
  


font-style: normal;
font-weight: 600;
font-size: 5rem;
line-height: 2.125rem;
display: flex;
align-items: flex-end;

/* Neutral/800 */

color: #292E3D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.boxess h3 {

height: 0.938rem;

font-style: normal;
font-weight: 400;
font-size: 1.875rem;
line-height: 0.688rem;
padding-left: 2.5rem;

/* Neutral/500 */

color: #667299;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


#box11 {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0.753rem;
gap: 0.8rem;

position: absolute;
width: 18.774rem;
height: 12.561rem;
left: 28.125rem;
top: 220rem;

/* Neutral/50 */

background: #F6F8F7;
/* Neutral/50 */

border: 0.025rem solid #F6F8F7;
box-shadow: 0rem 0.301rem 0.401rem -0.1rem rgba(17, 24, 39, 0.1), 0rem 0.1rem 0.151rem -0.05rem rgba(17, 24, 39, 0.05);
border-radius: 0.1rem;
}

#box11 img{
 /* illus */

position: absolute;
width:5.558rem;
height: 5.558rem;
left: calc(50% - 0.063rem/2 + 6.302rem);
top: -0.521rem;
}

#box21 {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0.753rem;
gap: 0.05rem;

position: absolute;
width: 25.024rem;
height: 12.561rem;
left: 9.375rem;
top: 230rem;

background: #FFFFFF;
/* Neutral/50 */

border: 0.025rem solid #F6F8F7;
box-shadow: 0rem 0.301rem 0.401rem -0.1rem rgba(17, 24, 39, 0.1), 0rem 0.1rem 0.151rem -0.05rem rgba(17, 24, 39, 0.05);
border-radius: 0.1rem;
}

#box21 img{
  /* illus */
 
 position: absolute;
 width:5.558rem;
 height: 5.558rem;
 right: calc(50% + 6.25rem/2 + 6.302rem);
 top: -4.396rem;
 }

#box31 {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.753rem;
  gap: 0.8rem;
  
  position: absolute;
  width: 18.774rem;
  height: 12.561rem;
  left: 28.125rem;
  top: 242rem;
  
  /* Neutral/50 */
  
  background: #F6F8F7;
  /* Neutral/50 */
  
  border: 0.025rem solid #F6F8F7;
  box-shadow: 0rem 0.301rem 0.401rem -0.1rem rgba(17, 24, 39, 0.1), 0rem 0.1rem 0.151rem -0.05rem rgba(17, 24, 39, 0.05);
  border-radius: 0.1rem;
}
#box31 img{
  /* illus */
 
 position: absolute;
 width: 5.558rem;
 height: 5.558rem;
 left: calc(50% - 0.063rem/2 + 6.302rem);
 top: -0.646rem;
 }

#box41 {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0.753rem;
gap: 0.05rem;

position: absolute;
width: 25.024rem;
height: 12.561rem;
left: 9.375rem;
top: 250rem;

background: #FFFFFF;
/* Neutral/50 */

border: 0.025rem solid #F6F8F7;
box-shadow: 0rem 0.301rem 0.401rem -0.1rem rgba(17, 24, 39, 0.1), 0rem 0.1rem 0.151rem -0.05rem rgba(17, 24, 39, 0.05);
border-radius: 0.1rem;
}
#box41 img{
  /* illus */
 
 position: absolute;
 width: 5.558rem;
 height: 5.558rem;
 left: calc(50% + 6.25rem/2 + 6.302rem);
 top: 9.646rem;
 }

.writing h1 {
  position: absolute;

right: calc(50% - 63.25rem/2 + 6.302rem);
top: 225rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 5rem;
line-height: 1.75rem;

/* Primary */

color: #2947A9;


}

.writing p {
  position: absolute;
width: 37.529rem;
height: 2.258rem;
right: calc(50% - 90.375rem/2 + 6.302rem);
top: 237.29rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 1.875rem;
line-height: 2.5rem;

/* Neutral/600 */

color: #525B7A;


}

.btn {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0.401rem 0.502rem;
gap: 4.01rem;

position: absolute;
width: 8.79rem;
height: 3.178rem;
right: 45.394rem;
top: 250rem;
color: #F6F8F7;
font-size: 1.25rem;

/* Primary */

background: #2947A9;
border-radius: 0.1rem;
}


