.home h1 {
    padding-top: 1.875rem;
    text-align: center;
    color: #292E3D;

    flex: none;
order: 1;
flex-grow: 0;
}

.box1 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0.502rem 0.502rem 1.003rem;
gap: 0.451rem;

position: absolute;
height: 15.625rem;
width: 25rem;
left: 6.284rem;
top: 62.5rem;

background: #FFFFFF;
/* Neutral/100 */

border: 0.035rem solid #E0E3EB;
border-radius: 0.1rem;

}

.box2 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0.502rem 0.502rem 1.003rem;
gap: 0.451rem;

position: absolute;
height: 15.625rem;
width: 25rem;
left:40.034rem;
top: 62.5rem;

background: #FFFFFF;
/* Neutral/100 */

border: 0.035rem solid #E0E3EB;
border-radius: 0.1rem;
    ;
}
.box3 {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.502rem 0.502rem 1.003rem;
    gap: 0.451rem;
    
    position: absolute;
    height: 15.625rem;
    width: 25rem;
    left: 70.659rem;
    top: 62.5rem;
    
    background: #FFFFFF;
    /* Neutral/100 */
    
    border: 0.035rem solid #E0E3EB;
    border-radius: 0.1rem;
        ;
}

.boxes h3 {
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 1.915rem;
padding-bottom: 1rem;

/* Neutral/700 */

color:  #3D445C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.boxes {
    padding-top: 0.62510rem;
    padding-left: 9.063rem;
}


.home p {
   


font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 1.875rem;

/* Neutral/400 */

color: #858EAD;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.home img {
    width: 100%;
    height: auto;
}

         

    
