
.img{
 
    background-color: #E0E3EB;

}
#cons {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.2rem;

position: absolute;
width: 30rem;
height: 20rem;
left: 5.25rem;
top: 162rem;

background: #FFFFFF;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;

}

 .img h2 {
   

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 1.875rem;
line-height: 0.5rem;
text-align: center;

/* Primary */

color: #2947A9;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
 }


 hr {
    width: 6.25rem;
height: 0.238rem;

/* Neutral/100 */

background: #E0E3EB;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }

 #reno {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;

position: absolute;
width: 30rem;
height: 20rem;
left: 45.625rem;
top: 162rem;;

/* Primary */

background: #2947A9;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;
 }

.img h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 0.5rem;
    text-align: center;


/* Primary */

color: #ffffff;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
 }

 svg {
    top: 18.75rem;
 }

 #consal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    position: absolute;
    width: 30rem;
    height: 20rem;
    left: 85.25rem;
    top: 162rem;

    background: #FFFFFF;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;;
 }

 #repair {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;

position: absolute;
width: 30rem;
height: 20rem;
font-size: 1.875rem;
line-height: 0.5rem;
left: 5.25rem;
top: 190.75rem;

/* Primary */

background: #2947A9;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;
 }
 #arc {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 0.5rem;

position: absolute;
width: 30rem;
height: 20rem;
font-size: 1.875rem;
line-height: 0.5rem;
left: 45.625rem;
top: 190.75rem;

background: #FFFFFF;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;
 }

 #elec {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
border-radius: 0.63rem;



position: absolute;
width: 30.5rem;
height: 20rem;
font-size: 1.875rem;
line-height: 0.5rem;
left: 85.25rem;
top: 190.75rem;

/* Primary */

background: #2947A9;
box-shadow: 0rem 0rem 14.8513rem -0.802774rem rgba(17, 24, 39, 0.05);
border-radius: 0.63rem;
 }


.service h1 {
    position: absolute;

left: 11.375rem;
right: 13.188rem;
top: 155rem;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 3.625rem;
line-height: 1.063rem;
/* identical to box height */

text-align: center;

/* Neutral/800 */

color: #292E3D;

}

.services {
    background-color: #E0E3EB;
}

@media only screen and (max-width: 1625px) {

#cons, #repair {
    left: 1.25rem;
    
}

#reno, #arc {
    left: 35.625rem;
}

#consal, #elec {
    left: 68.25rem;
}
}

@media only screen and (max-width: 1440px) and (min-width: 1400px) {

    #cons, #repair {
        left: 2rem;
        width: 27rem;
        height: 17rem;
    }
    
    #reno, #arc {
        left: 33rem;
        width: 27rem;
        height: 17rem;
    }
    
    #consal, #elec {
        left: 64rem;
        width: 27rem;
        height: 17rem;
    }
    }